In [1]:
#1.Create a Pandas series that contains the following data: 4,8,15,16,23 and 42. Then , print the series.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2.Create a variable of list type containing 10 elements in it and apply pandas.Series function on the variable print it.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#3.Create a Pandas DataFrame that contains the following data:
"""Name                 Age                          Gender
Alice                    25                           Female
Bob                      30                            Male
Claire                   27                            Female
Then , print the DataFrame."""

'Name                 Age                          Gender\nAlice                    25                           Female\nBob                      30                            Male\nClaire                   27                            Female\nThen , print the DataFrame.'

In [7]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

my_df = pd.DataFrame(data)
print(my_df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#4.What is 'DataFrame' in pandas and how is it different  from pandas.series? Explain with an example.
"""In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet 
or SQL table, and provides a convenient way to store and manipulate tabular data.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a 
single variable in programming.

The main difference between a DataFrame and a Series is that a DataFrame can store multiple columns of data, whereas a Series can store only a single 
column of data.

Here is an example to illustrate the difference between a DataFrame and a Series. Let's say we have the following data:

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female"""

"In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet \nor SQL table, and provides a convenient way to store and manipulate tabular data.\n\nOn the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a \nsingle variable in programming.\n\nThe main difference between a DataFrame and a Series is that a DataFrame can store multiple columns of data, whereas a Series can store only a single \ncolumn of data.\n\nHere is an example to illustrate the difference between a DataFrame and a Series. Let's say we have the following data:\n\n     Name  Age  Gender\n0   Alice   25  Female\n1     Bob   30    Male\n2  Claire   27  Female"

In [10]:
#example of dataframe
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

my_df = pd.DataFrame(data)
print(my_df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#example of series
age = pd.Series([25, 30, 27], name='Age')
print(age)

0    25
1    30
2    27
Name: Age, dtype: int64

In [12]:
#5. What are some common functions you can use to manipulate data in a pandas DataFrame? Can you give an example of when you might use one of these functions.
"""There are many common functions available in Pandas that can be used to manipulate data in a DataFrame. Here are some examples:

head() and tail(): These functions can be used to view the first or last n rows of a DataFrame, respectively. For example, you might use df.head() to 
quickly inspect the first few rows of a DataFrame.

info(): This function provides a summary of the DataFrame, including the data types of each column and the number of non-null values. It can be useful 
for identifying missing data or data type issues.

describe(): This function provides summary statistics for each numeric column in the DataFrame, such as the mean, standard deviation, minimum, and 
maximum. It can be useful for getting a quick overview of the data.

dropna(): This function can be used to remove any rows or columns that contain missing data. For example, you might use df.dropna() to remove all rows
with missing values.

fillna(): This function can be used to replace missing values in the DataFrame with a specified value or method. For example, you might use df.fillna(0) 
to replace all missing values with 0.

groupby(): This function can be used to group the DataFrame by one or more columns and apply a function to each group. For example, you might use 
df.groupby('category').mean() to calculate the mean of each column for each category in a categorical column.

sort_values(): This function can be used to sort the DataFrame by one or more columns. For example, you might use df.sort_values('age') to sort the 
DataFrame by the 'age' column in ascending order.

apply(): This function can be used to apply a function to each row or column of the DataFrame. For example, you might use df.apply(lambda x: x['age'] + 10, axis=1) to 
add 10 to the 'age' column for each row."""

"There are many common functions available in Pandas that can be used to manipulate data in a DataFrame. Here are some examples:\n\nhead() and tail(): These functions can be used to view the first or last n rows of a DataFrame, respectively. For example, you might use df.head() to \nquickly inspect the first few rows of a DataFrame.\n\ninfo(): This function provides a summary of the DataFrame, including the data types of each column and the number of non-null values. It can be useful \nfor identifying missing data or data type issues.\n\ndescribe(): This function provides summary statistics for each numeric column in the DataFrame, such as the mean, standard deviation, minimum, and \nmaximum. It can be useful for getting a quick overview of the data.\n\ndropna(): This function can be used to remove any rows or columns that contain missing data. For example, you might use df.dropna() to remove all rows\nwith missing values.\n\nfillna(): This function can be used to replace missing values in the DataFrame with a specified value or method. For example, you might use df.fillna(0) \nto replace all missing values with 0.\n\ngroupby(): This function can be used to group the DataFrame by one or more columns and apply a function to each group. For example, you might use \ndf.groupby('category').mean() to calculate the mean of each column for each category in a categorical column.\n\nsort_values(): This function can be used to sort the DataFrame by one or more columns. For example, you might use df.sort_values('age') to sort the \nDataFrame by the 'age' column in ascending order.\n\napply(): This function can be used to apply a function to each row or column of the DataFrame. For example, you might use df.apply(lambda x: x['age'] + 10, axis=1) to \nadd 10 to the 'age' column for each row."

In [13]:
#6.Which of the following is mutable in nature Series ,DataFrame ,Panel.
"""In Pandas, both Series and DataFrame are mutable in nature.

A Series can be modified by assigning new values to its elements, adding new elements, or removing existing elements using the drop() method.

Similarly, a DataFrame can be modified by assigning new values to its elements, adding new columns or rows, or removing existing columns or rows 
using various methods such as loc[], iloc[], drop(), insert(), and so on.

On the other hand, a Panel is a 3-dimensional data structure that is deprecated in Pandas 1.0 and above. It was replaced by the MultiIndex and
DataFrame objects, which can handle data with more than two dimensions. Therefore, Panel is not mutable in the latest version of Pandas."""

'In Pandas, both Series and DataFrame are mutable in nature.\n\nA Series can be modified by assigning new values to its elements, adding new elements, or removing existing elements using the drop() method.\n\nSimilarly, a DataFrame can be modified by assigning new values to its elements, adding new columns or rows, or removing existing columns or rows \nusing various methods such as loc[], iloc[], drop(), insert(), and so on.\n\nOn the other hand, a Panel is a 3-dimensional data structure that is deprecated in Pandas 1.0 and above. It was replaced by the MultiIndex and\nDataFrame objects, which can handle data with more than two dimensions. Therefore, Panel is not mutable in the latest version of Pandas.'

In [14]:
#7.Create a dataframe using multiple series. Explain with an example.
"""In Pandas, a DataFrame is a 2-dimensional labeled data structure that can hold data of various types (e.g., numerical, categorical, textual) in a 
tabular format. A DataFrame can be created using various methods, one of which is using multiple series.

Here's an example of how to create a DataFrame using multiple series:"""
import pandas as pd

# Create three series containing data for the DataFrame
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'])
series3 = pd.Series([10.5, 20.5, 30.5, 40.5, 50.5])

# Combine the series into a DataFrame
df = pd.DataFrame({'Column1': series1, 'Column2': series2, 'Column3': series3})

# Print the DataFrame
print(df)

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.5
2        3       C     30.5
3        4       D     40.5
4        5       E     50.5

In [15]:
"""we create three series series1, series2, and series3, each containing data for the DataFrame. series1 contains numerical data, series2 contains 
categorical data, and series3 contains numerical data with decimal points.

Next, we combine the series into a DataFrame using the pd.DataFrame() method. We pass a dictionary to this method, where the keys represent the 
column names of the DataFrame, and the values represent the corresponding series.

Finally, we print the DataFrame using the print() method."""

'we create three series series1, series2, and series3, each containing data for the DataFrame. series1 contains numerical data, series2 contains \ncategorical data, and series3 contains numerical data with decimal points.\n\nNext, we combine the series into a DataFrame using the pd.DataFrame() method. We pass a dictionary to this method, where the keys represent the \ncolumn names of the DataFrame, and the values represent the corresponding series.\n\nFinally, we print the DataFrame using the print() method.'